@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&display=swap');

*{
    
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(img/comp.jpg);
    background-repeat: repeat;
}

h1 {
    font-family: 'Silkscreen', cursive;
}

h2 {
    font-family: 'Share', cursive;
    font-weight: bold !important;
}

h3 {
    font-family: 'Share', cursive !important;
}

h4 {
    font-family: 'Share', cursive !important;
}

.bg-space{
    background-image: url(img/spacebackground.gif);
    background-repeat: repeat;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}